<div class="row" style="margin-right: 0px;">
  <div class="col-md-9">
    <h4>You're ansering the question: <%= @question.title %></h4>
    <%= render 'answer' %>
  </div>

  <%= render 'main/tool_box' %>
</div>

