<div class="row" style="margin: 0px">
  <div class="col-md-12 footer">
    <h4>@Long Nguyen - July, 2014</h4>
  </div>
</div>

<style type="text/css">
  .footer{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #8D8D8D;
  }
</style>